.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(34, 128, 25, 0.886);
    padding: 20px;
  }
  
  .row {
    display: flex;
  }
  
  .group {
    flex: 1;
    margin: 0 10px;
  }
  